.rightbar {
  flex: 3.5;
  margin-left: 10px;
  height: calc(100vh - 3.125rem);
}

.rightbarWrapper {
  padding: 1.25rem 1.25rem 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px;
}

.birthdayText {
  font-size: 1rem;
  font-weight: 300;
}
.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 2rem 0;
}

.rightbarTitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarInfo {
  margin-bottom: 2rem;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 0.5rem;
  color: #555;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  cursor: pointer;
}

.rightbarTitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.rightbarFollowingImg {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 5px;
}
